.container{
background-color:rgb(243, 243, 243);
  height: 120px;
  border-bottom: solid 1px rgb(214, 214, 214);
    
}

.logo{
    scale: 0.3;
    margin-top: -40px;
}

.menus{
    font-size: 20px;
    margin-top: 50px;
    margin-right: 50%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.item{
  color: black; 
  margin-left:40px
}

.item:hover{
  color: rgb(5, 90, 5);
  text-decoration: underline 5px;
}

