.principal{
    background-color: #1E3932;
    color: white;
    height: 300px;

}

h1{
    display: flex;
    width: fit-content;
    margin: auto;
    position: relative;
    top: 40%;
    font-size: 70px;
}

.texto{
    width: 50%;
    margin: auto;
    font-family: Helvetica, Sans-Serif;
    font-size: 25px ;
    margin-bottom: 50px;   
}

.boton{
    text-decoration: none;
    border: solid 1px black;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    border-radius: 20px 20px 20px 20px;
    margin-right: 450px;
    margin-bottom: 50px;
}